@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --wh: hsl(0, 0%, 100%);
    --Lg: hsl(212, 45%, 89%);
    --bl: hsl(220, 15%, 55%);
    --Dbl: hsl(218, 44%, 22%);
}

body {
    font-family: Outfit;
    font-size: 15px;
    background-color: var(--Lg);
}

.bg {
    display: flex;
    position: relative;
    width: 450px;
    height: 650px;
    align-items: center;
    background-color: var(--wh);
    border-radius: 20px;
    margin: auto;
    box-shadow: 0px 30px 50px rgba(123, 135, 157, 0.5);
}

.qr {
    display: flex;

}

img {
    display: flex;
    position: absolute;
    height: 390px;
    width: 390px;
    top: 30px;
    margin: auto;
    border-radius: 20px;
    left: 30px;
}

p {
    position: relative;
    width: 390px;
    text-align: center;
    left: 30px;
    top: 200px;
    line-height: 25px;

}

strong {
    font-size: 30px;
    line-height: 40px;
}
